In [28]:
%reload_kedro

2021-04-18 09:34:27,754 - root - INFO - Registered hooks from 2 installed plugin(s): kedro-mlflow-0.7.0
2021-04-18 09:34:27,765 - kedro.framework.session.store - INFO - `read()` not implemented for `BaseSessionStore`. Assuming empty store.
2021-04-18 09:34:27,822 - kedro.framework.session.session - WARNING - Unable to git describe /Users/xszpo/GoogleDrive/01_Projects/202104_viabill
2021-04-18 09:34:27,856 - root - INFO - ** Kedro project viabill
2021-04-18 09:34:27,857 - root - INFO - Defined global variable `context`, `session` and `catalog`
2021-04-18 09:34:27,899 - root - INFO - Registered line magic `run_viz`

/Users/xszpo/miniconda3/envs/viabill/lib/python3.8/site-packages/kedro/framework/project/__init__.py:133: UserWarning: Found duplicate pipeline entries. The following will be overwritten: __default__
  warn(

In [29]:
df = catalog.load('master_table')

2021-04-18 09:34:28,571 - kedro.io.data_catalog - INFO - Loading data from `master_table` (ParquetDataSet)...

In [30]:
df_trans = catalog.load("transactions")
df_trans['late'] = df_trans.filter(regex='payment').apply(lambda x: x==1).any(axis=1).astype(int)
df_trans['default'] = df_trans.filter(regex='payment').apply(lambda x: x==2).any(axis=1).astype(int)

2021-04-18 09:34:29,804 - kedro.io.data_catalog - INFO - Loading data from `transactions` (CSVDataSet)...

In [38]:
import numpy as np

In [41]:
np.mean([177,93])

135.0

In [35]:
df_trans.query("customerID==1").T

                 119293    832073    868539     1697841
transactionID   119294.0  832074.0  868540.0  1697842.0
shopID             634.0     942.0     361.0      248.0
customerID           1.0       1.0       1.0        1.0
price               88.0     177.0      93.0      147.0
paymentStatus1       0.0       1.0       0.0        0.0
paymentStatus2       0.0       0.0       0.0        0.0
paymentStatus3       0.0       0.0       0.0        0.0
paymentStatus4       0.0       0.0       0.0        0.0
late                 0.0       1.0       0.0        0.0
default              0.0       0.0       0.0        0.0

In [33]:
df.query("customerID==1").T

                                        0
customerID                              1
sex                                  male
age                                    25
residentialAddress        28 Irvine Place
postalAddress             28 Irvine Place
income                                NaN
residentialAddress_clean     Irvine Place
postalAddress_clean          Irvine Place
same_address                            1
transactionID                   1697842.0
shopID                              248.0
price                               147.0
paymentStatus1                        0.0
paymentStatus2                        0.0
paymentStatus3                        0.0
paymentStatus4                        0.0
late                                  0.0
default                               0.0
fraud                                 0.0
rank                                  4.0
default_lag1                          0.0
late_lag1                             0.0
price_lag1                           93.0
rank_reverse                          1.0
hist_trans_count                      3.0
hist_default_sum                      0.0
hist_default_avg                      0.0
hist_late_sum                         1.0
hist_late_avg                    0.333333
hist_price_sum                      358.0
hist_price_avg                 119.333333
default_lst_01_sum                    0.0
late_lst_01_sum                       0.0
price_lst_01_sum                     93.0
default_lst_02_sum                    0.0
late_lst_02_sum                       1.0
price_lst_02_sum                    270.0
default_lst_02_avg                    0.0
late_lst_02_avg                       0.5
price_lst_02_avg                    135.0